<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<include uri="file://./CastleConf2.xml" />-->
  
  <properties>
    <namespace>FMY.WEB.BLL</namespace>
  </properties>

  <installers>
    <!--1.registering type-->
    <!--<install type="#{namespace}.RepositoriesInstaller, #{namespace}"/>-->
    
    <!--2.registering assembly-->
    <!--<install assembly="Acme.Crm.Infrastructure"/>-->
    
    <!--3.registering multiple assemblies from given directory-->
    <!--<install directory="extensions" fileMask="Acme.*.dll" publicKeyToken="b77a5c561934e089" />-->
  </installers>

  <components>
    <component id="UserRegistEmailService"
               service="#{namespace}.UserRegistEmailService, #{namespace}"
               type="#{namespace}.UserRegistEmailService, #{namespace}"
               lifestyle="singleton">
    </component>
    
  </components>
  
</configuration>

