<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<include uri="file://./CastleConf2.xml" />-->
  
  <properties>
    <namespace>FMY.WEB.Dao</namespace>
    <serviceNS>FMY.WEB.IDao</serviceNS>
    <typeNS>FMY.WEB.IbatisDao</typeNS>
  </properties>

  <installers>
    <!--1.registering type-->
    <!--<install type="#{namespace}.RepositoriesInstaller, #{namespace}"/>-->
    
    <!--2.registering assembly-->
    <!--<install assembly="Acme.Crm.Infrastructure"/>-->
    
    <!--3.registering multiple assemblies from given directory-->
    <!--<install directory="extensions" fileMask="Acme.*.dll" publicKeyToken="b77a5c561934e089" />-->
  </installers>

  <components>
    <component id="IUserRegistEmailDao"
                    service="#{serviceNS}.IUserRegistEmailDao, #{serviceNS}"
                    type="#{typeNS}.UserRegistEmailDao, #{typeNS}"
                    lifestyle="singleton">
    </component>
    
  </components>
  
</configuration>
