<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!--引入其他配置文件-->
  <include uri="file://./CastleBLL.config" />
  <include uri="file://./CastleDao.config" />
  
  <properties>
    <namespace>FMY.WEB.UI</namespace>
    <controllerNS>FMY.WEB.UI.Controllers</controllerNS>
  </properties>

  <installers>
    <!--1.registering type-->
    <!--<install type="#{namespace}.RepositoriesInstaller, #{namespace}"/>-->
    
    <!--2.registering assembly-->
    <!--<install assembly="Acme.Crm.Infrastructure"/>-->
    
    <!--3.registering multiple assemblies from given directory-->
    <!--<install directory="extensions" fileMask="Acme.*.dll" publicKeyToken="b77a5c561934e089" />-->
  </installers>

  <components>
    <component id="RegistController"
                    service="#{controllerNS}.RegistController, #{namespace}"
                    type="#{controllerNS}.RegistController, #{namespace}"
                    lifestyle="transient">
    </component>
  </components>
  
</configuration>


<!--Lifestyle	Notes 生命周期 https://github.com/castleproject/Windsor/blob/master/docs/lifestyles.md-->
<!--
Lifestyle 分类：
singleton	| This is the default lifestyle in Windsor
transient |	Windsor keeps references to transient components!
pooled    |	For pooled lifestyle two additional attributes need to be defined: initialPoolSize and maxPoolSize both of which accept positive integer values
thread    |
custom    |	For custom lifestyle additional attribute needs to be defined: customLifestyleType which points to the type implementing the lifestyle

scope     |
bound     |

Lifestyle 配置方式  ：api调用接口方法，Attribute，xml配置
-->
