<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<MemCaches>
    <servers address="192.168.10.123:11111"/>
    <servers address="192.168.10.124:11111"/>
    <socketPool minPoolSize="2" maxPoolSize="100" sendReceiveTimeout="5000" connectionTimeout="50000" deadTimeout="00:02:00" />
  </MemCaches>-->
</configuration>
