
FMY.WEB.UI/*/bin/
FMY.WEB.UI/*/obj/

FMY.WEB.UI/.vs/config/applicationhost.config
FMY.WEB.UI/packages/
FMY.WEB.UI/UpgradeLog.htm
FMY.WEB.UI/UpgradeLog2.htm
.vs/
FMY.WEB.UI/output.config
FMY.WEB.UI/FMY.WCF.Test.TestHost.zip

FMY.WEB.UI/FMY.WEB.UI/logs/

FMY.WEB.UI/FMY.WEB.UI.rar

FMY.WEB.UI/FMY.WEB.UI/upload/

FMY.WEB.UI/Site/
FMY.WEB.UI/.vs/

