FMY.WEB.UI/FMY.WEB.BLL/bin/
FMY.WEB.UI/FMY.WEB.UI/bin/
FMY.WEB.UI/FMY.WEB.DAL/bin/
FMY.WEB.UI/FMY.WEB.Model/obj/
FMY.WEB.UI/FMY.WEB.Model/bin/
FMY.WEB.UI/FMY.WEB.UI/obj/
FMY.WEB.UI/FMY.WEB.DAL/obj/
FMY.WEB.UI/FMY.WEB.BLL/obj/
FMY.WEB.UI/FMY.WEB.Comm/bin/
FMY.WEB.UI/FMY.WEB.Comm/obj/
