FMY.WEB.UI/FMY.WEB.BLL/bin/
FMY.WEB.UI/FMY.WEB.UI/bin/
FMY.WEB.UI/FMY.WEB.DAL/bin/
FMY.WEB.UI/FMY.WEB.Model/obj/
FMY.WEB.UI/FMY.WEB.Model/bin/
FMY.WEB.UI/FMY.WEB.UI/obj/
FMY.WEB.UI/FMY.WEB.DAL/obj/
FMY.WEB.UI/FMY.WEB.BLL/obj/
FMY.WEB.UI/FMY.WEB.Comm/bin/
FMY.WEB.UI/FMY.WEB.Comm/obj/
FMY.WEB.UI/Host/bin/
FMY.WEB.UI/Host/obj/
FMY.WEB.UI/Services/bin/
FMY.WEB.UI/Contract/obj/
FMY.WEB.UI/Contract/bin/
FMY.WEB.UI/Client/obj/
FMY.WEB.UI/Client/bin/
FMY.WEB.UI/Services/obj/
FMY.WEB.UI/.vs/config/applicationhost.config
FMY.WEB.UI/packages/
FMY.WEB.UI/UpgradeLog.htm
FMY.WEB.UI/UpgradeLog2.htm
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
FMY.WEB.UI/FMY.WEB.IDao/obj/
FMY.WEB.UI/FMY.WEB.IbatisDao/obj/
FMY.WEB.UI/FMY.WEB.UnitTest.IbatisDao/bin/Debug/
FMY.WEB.UI/FMY.WEB.UnitTest.IbatisDao/obj/
FMY.WEB.UI/output.config
FMY.WEB.UI/FMY.WCF.Test.TestHost.zip

FMY.WEB.UI/FMY.WEB.UI/logs/
FMY.WEB.UI/FMY.WEB.UnitTest.IbatisDao/bin/

FMY.WEB.UI/FMY.Core.RedisClient/bin/

FMY.WEB.UI/FMY.Core.Test.RedisClient/obj/
FMY.WEB.UI/FMY.Core.RedisClient/obj/
FMY.WEB.UI/FMY.Core.MongoClient/obj/
FMY.WEB.UI/FMY.WEB.UI.rar
FMY.WEB.UI/FMY.Console.StaticResours/obj/
FMY.WEB.UI/FMY.Console.StaticResours/bin/
FMY.WEB.UI/FMY.Consoles.LuceneNet/obj/
FMY.WEB.UI/FMY.Core.Test.RedisClient/bin/
FMY.WEB.UI/FMY.Consoles.LuceneNet/bin/
FMY.WEB.UI/FMY.Core.MongoClient/bin/
FMY.WEB.UI/Lucene.Net/obj/
FMY.WEB.UI/ServiceStack.Redis/obj/
FMY.WEB.UI/ServiceStack.Redis/bin/

FMY.WEB.UI/FMY.WEB.UI/upload/
FMY.WEB.UI/Castle.Windsor/obj/
