body {
}
.no-mg-btm {
    margin-bottom:0px!important;
}
label.error {
    color:red;
    font-family:"Microsoft YaHei",微软雅黑;
    font-size:14px;
    font-weight:normal;
}
.err_span {
    width:100%;
    height:20px;
    display:block;
    padding:0px 208px;
    color:red;
}