<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <clientCredentials>
            <clientCertificate findValue="fmyca2" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_CalculatorService" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="Message">
            <message clientCredentialType="Certificate" negotiateServiceCredential="true"
                algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_CalculatorService" transactionFlow="true" >
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
          <!--<reliableSession enabled="true" ordered="true" />-->
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:8096/HttpCaculatorService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_CalculatorService"
          contract="CalculatorService" name="WSHttpBinding_CalculatorService">
        <identity>         
          <certificate encodedValue="AwAAAAEAAAAUAAAAPOvsI6t8lgTV6nMJxGmxAiPs2b4gAAAAAQAAADYCAAAwggIyMIIB4KADAgECAhD4JQ+MClmNqkojw2hth0ISMAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTgwMzExMTQ1MTAyWhcNMzkxMjMxMjM1OTU5WjARMQ8wDQYDVQQDEwZmbXljYTIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCljCodDBpVooeVUjPphVAQw2a0+gQCwkESHihay66aByZ8/GecQFhX7jXwVQMaDU82DuPSgPnczjeLnx7JOzQBhfMda7mo/WoRjXyucy4vxPEQrJCNcT6EEStPGUCXB1mtLdHRzm35iKqAuAJFr5gkifQxBQoj3ACwYVVr7ay3LT5ChglAIgeY8m4Q/Bk/HVSXY5XJqxaxE1tyEw3Ncc60KBEVmEg7OSyLvb4N8oy+L9TpNuIrpC4gMGLJuoxWOpVVlQY3UGHNOaAMA+6zSctcoFOaiiQgDPxnwD8evwAxFqbNTXTbnZSz3xEbLVlwsRZvd/tItgMe+4gCCrnedp4pAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAfWIQQt1urz4ZzdXtqHEFScfNMgpsmXDfN9d3jUqszKQBrcwyGLn2x/PR+BgI1f64i991jS2DSBA5v7CVVfsVZA==" />
        </identity>
      </endpoint>
      <!--<endpoint address="net.tcp://127.0.0.1:8095/calculatorservice"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CalculatorService"
          contract="CalculatorService" name="NetTcpBinding_CalculatorService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>-->
    </client>
  </system.serviceModel>
</configuration>
