<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_CalculatorService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:8095/calculatorservice"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_CalculatorService"
          contract="CalculatorService" name="NetTcpBinding_CalculatorService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>