@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        @foreach (KeyValuePair<int, string> item in ViewBag.BPDic)
        {
            <div>
                <span>key:@item.Key;value @item.Value</span>
            </div>
        }
    </div>
    <div>
        <a class="logout">logout</a>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/List/index.js"></script>
</body>
</html>
