@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>upload模块快速使用</title>
    <link href="~/LayUI/css/layui.css" rel="stylesheet" />
</head>
<body>

    <button type="button" class="layui-btn" id="test1">
        <i class="layui-icon">&#xe67c;</i>上传图片
    </button>
    <button class="layui-btn" id="upload-btn">upload</button>
    <script src="~/LayUI/layui.js"></script>
    <script src="~/js/Test/uploadIndex.js"></script>
</body>
</html>