<?xml version="1.0" encoding="utf-8"?>
<!--<databaseConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >-->
  <settings>
    <add key="DataSource" value="127.0.0.1" />
    <add key="DataBase" value="fmy.web"/>
    <add key="UserId" value="sa"/>
    <add key="PassWord" value="123"/>
    <add key="Root" value="FMY.WEB.IbatisDao.Maps"/>
    <add key="Assembly" value="FMY.WEB.IbatisDao"/>
  </settings>
<!--</databaseConfig>-->
