@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <form class="form-horizontal" role="form">
                <div class="col-md-12 column">
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">UserName</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputEmail" name="name" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" name="pwd" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" id="regist" class="btn btn-default">Regist</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/jquery-1.10.2.min.js"></script>
    <script src="~/js/Login/index.js"></script>
</body>
</html>
