body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote，th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
strong {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
capation {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%; font-weight: normal;
}
h2 {
	font-size: 100%; font-weight: normal;
}
h3 {
	font-size: 100%; font-weight: normal;
}
h4 {
	font-size: 100%; font-weight: normal;
}
h5 {
	font-size: 100%; font-weight: normal;
}
h6 {
	font-size: 100%; font-weight: normal;
}
q::before {
	content: " ";
}
q::after {
	content: " ";
}
abbr {
	border: 0px currentColor; border-image: none;
}
acronym {
	border: 0px currentColor; border-image: none;
}
.f12 {
	font-size: 12px;
}
.f13 {
	font-size: 13px;
}
.f14 {
	font-size: 14px;
}
.f16 {
	font-size: 16px;
}
.f20 {
	font-size: 20px;
}
.fb {
	font-weight: bold;
}
.fn {
	font-weight: normal;
}
.t2 {
	text-indent: 2em;
}
.lh150 {
	line-height: 150%;
}
.lh180 {
	line-height: 180%;
}
.lh200 {
	line-height: 200%;
}
.unl {
	text-decoration: underline;
}
.no_unl {
	text-decoration: none;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.bc {
	margin-right: auto; margin-left: auto;
}
.fl {
	float: left; display: inline;
}
.fr {
	float: right; display: inline;
}
.cb {
	clear: both;
}
.cl {
	clear: left;
}
.cr {
	clear: right;
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.Clearfix {
	display: block;
}
.vm {
	
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.abs-right {
	right: 0px; position: absolute;
}
.zoom {
	-ms-zoom: 1;
}
.hidden {
	visibility: hidden;
}
.none {
	display: none;
}
.w10 {
	width: 10px;
}
.w20 {
	width: 20px;
}
.w30 {
	width: 30px;
}
.w40 {
	width: 40px;
}
.w50 {
	width: 50px;
}
.w60 {
	width: 60px;
}
.w70 {
	width: 70px;
}
.w80 {
	width: 80px;
}
.w90 {
	width: 90px;
}
.w100 {
	width: 100px;
}
.w200 {
	width: 200px;
}
.w300 {
	width: 300px;
}
.w400 {
	width: 400px;
}
.w500 {
	width: 500px;
}
.w600 {
	width: 600px;
}
.w700 {
	width: 700px;
}
.w800 {
	width: 800px;
}
.w {
	width: 100%;
}
.h50 {
	height: 50px;
}
.h80 {
	height: 80px;
}
.h100 {
	height: 100px;
}
.h200 {
	height: 200px;
}
.h {
	height: 100%;
}
.m10 {
	margin: 10px;
}
.m15 {
	margin: 15px;
}
.m30 {
	margin: 30px;
}
.mt5 {
	margin-top: 5px;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.mt20 {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mt50 {
	margin-top: 50px;
}
.mt100 {
	margin-top: 100px;
}
.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb100 {
	margin-bottom: 100px;
}
.ml5 {
	margin-left: 5px;
}
.ml10 {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
.ml20 {
	margin-left: 20px;
}
.ml30 {
	margin-left: 30px;
}
.ml50 {
	margin-left: 50px;
}
.ml100 {
	margin-left: 100px;
}
.mr5 {
	margin-right: 5px;
}
.mr10 {
	margin-right: 10px;
}
.mr15 {
	margin-right: 15px;
}
.mr20 {
	margin-right: 20px;
}
.mr30 {
	margin-right: 30px;
}
.mr50 {
	margin-right: 50px;
}
.mr100 {
	margin-right: 100px;
}
.p10 {
	padding: 10px;
}
.p15 {
	padding: 15px;
}
.p30 {
	padding: 30px;
}
.pt5 {
	padding-top: 5px;
}
.pt10 {
	padding-top: 10px;
}
.pt15 {
	padding-top: 15px;
}
.pt20 {
	padding-top: 20px;
}
.pt30 {
	padding-top: 30px;
}
.pt50 {
	padding-top: 50px;
}
.pt100 {
	padding-top: 100px;
}
.pb5 {
	padding-bottom: 5px;
}
.pb10 {
	padding-bottom: 10px;
}
.pb15 {
	padding-bottom: 15px;
}
.pb20 {
	padding-bottom: 20px;
}
.pb30 {
	padding-bottom: 30px;
}
.pb50 {
	padding-bottom: 50px;
}
.pb100 {
	padding-bottom: 100px;
}
.pl5 {
	padding-left: 5px;
}
.pl10 {
	padding-left: 10px;
}
.pl15 {
	padding-left: 15px;
}
.pl20 {
	padding-left: 20px;
}
.pl30 {
	padding-left: 30px;
}
.pl50 {
	padding-left: 50px;
}
.pl100 {
	padding-left: 100px;
}
.pr5 {
	padding-right: 5px;
}
.pr10 {
	padding-right: 10px;
}
.pr15 {
	padding-right: 15px;
}
.pr20 {
	padding-right: 20px;
}
.pr30 {
	padding-right: 30px;
}
.pr50 {
	padding-right: 50px;
}
.pr100 {
	padding-right: 100px;
}

